.promo {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #3F3F3F;

  &__text {
    margin-left: 45px;
    & h1 {
      font-size: 78px;
      font-weight: 500;
      width: 649px;
    }

    & p {
      font-size: 21px;
      width: 572px;
      font-weight: 500;
    }
  }
}
