.promo {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #3f3f3f;

  &__container {
    padding: 60px 0px;
  }

  &__image {
    & img {
      max-width: 100%;
    }
  }

  &__text {
    margin-left: 45px;
    & h1 {
      font-size: 78px;
      font-weight: 500;
      width: 649px;
    }

    & p {
      font-size: 21px;
      width: 572px;
      font-weight: 500;
    }
  }
}

#typed {
  display: inline;
}

@media (max-width: 1165px) {
  .promo__image img {
    display: none;
  }

  .promo__text h1,
  .promo__text p {
    width: auto;
  }
}

@media (max-width: 700px) {

  .promo__text h1 {
    font-size: 41px ;
  }

  .promo__text p {
    font-size: 14px;
  }

}

