.home {
  margin-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #3f3f3f;

  &__text {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & h1 {
      font-size: 66px;
      width: 930px;
      font-weight: bold;
      line-height: 1.2em;
    }

    & p {
      font-size: 30px;
      font-weight: 200;
      width: 937px;
    }
  }
}

.typed-cursor {
  height: 10px;
}

.typed-fade-out {
  height: 10px;
}

@media (max-width: 989px) {
  .home__text h1 {
    width: auto;
    font-size: 52px;
  }

  .home__text p {
    width: auto;
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .home__text h1 {
    font-size: 33px;
  }

  .home__text p {
    font-size: 23px;
  }
}
