.home {
  margin-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #3f3f3f;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & h1 {
      font-size: 66px;
      width: 930px;
      font-weight: bold;
      line-height: 1.2em;
    }

    & p {
      font-size: 30px;
      font-weight: 200;
      width: 937px;
    }
  }
}
