.header {

    padding: 20px;
    border-bottom: 1px solid #3F3F3F;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: 36px;
        font-weight: 500;
    }

    &__contact {
        font-size: 20px;
    }
}